@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/kaftan-trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gambarino';
  src: url('/fonts/gambarino.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
  outline: none;
}
body {
  /* font-family: "MyFont" ,Arial, Helvetica, sans-serif; */
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}

.gambarino{
  font-family: "Gambarino" ,Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f12a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #100f0fb5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}